html {
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: 'Times New Roman', Times, serif;
  }
  
  .TabelaDeTarefas {
    width: 400px;
    border-collapse: collapse;
  }
  .TabelaDeTarefas th, .TabelaDeTarefas td {
    border: 1px solid black;
    padding: 12px;
    text-align: left;
  }
  div {
     margin-bottom: 15px;
  }
  .amarelo {
      background-color: yellow; /* Cor amarela para a linha */
  }
  