html {
    height: 100%;
    width: 100%;
  }
  
  body {
    font-family: 'Times New Roman', Times, serif;
  }

  div.row {
     margin-bottom: 0.5rem;
  }
  
     margin-bottom: 15px;
  }
  .amarelo {
      background-color: yellow; /* Cor amarela para a linha */
  }
  
